---
import { fade } from "astro:transitions";
import Page from "../../layouts/Page.astro"
import fs from 'fs';
const slideFiles = fs.readdirSync('src/pages/learn/slides')
const exerciseFiles = fs.readdirSync('public/content/exercises').filter(f => f.endsWith(".zip"));
---

<Page title="Learn">
    <div class="segment">
        <h1>Learn Robotics and Access Educational Content</h1>
        <h2 id="purpose">Motivation</h2>
        <p>
          Nighthawks Robotics is dedicated to furthering our STEM and robotics knowledge within and beyond our teams! In the spirit of the FIRST core value of <i>Gracious Professionalism</i> and motivated by providing educational content to anyone interested in high school level robotics or the FIRST Tech Challenge, we use this website as a centralized hub for pedagogical and instructive content.
        </p>
        <p>
          Any and all content shared on this page is available for use for anyone curious or interested in learning! Feel free to reach out to our team regarding any questions!  
        </p>
        <img src="content/media/20250316 FIRST Tech Challenge Alberta Championship 742.jpg">
        
      </div>

      <div class="segment">
        <h2 id="lessons">Lessons</h2>
        <p>
          Find below a collection of slideshows and lessons covering topics from basics with the Java programming language to working with the FTC SDK, trajectory planning libraries and more.
        </p>
        <ul>
            {slideFiles.map(slide => <li><a href={`/learn/slides/${slide}`}>{slide}</a></li>)}
        </ul>
      </div>

      <div class="segment">
        <h2 id="exercises">Exercises</h2>
        <p>
          Find below a collection of supplementary exercises to help you learn the basics of programming and robotics.
        </p>
        <ul>
            {exerciseFiles.map(exercise => <li><a href={`/content/exercises/${exercise}`} download>{`${exercise}`}</a></li>)}
        </ul>
      </div>

      <div class="segment">
        <h2 id="questions">Questions</h2>
        <p>This part of the website is currently under construction! Check back later for more! </p>
      </div>
</Page>