body {
    width: 100%;
    height: 100%;
}

div#content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#nav {
    width: 70%;
    display: flex;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    a {
        font-size: larger;
        color: var(--white-primary);
    }
}

iframe {
    width: 70%;
    height: auto;
    aspect-ratio: 1440 / 839;
}