---
import Page from "../layouts/Page.astro";
import teamPhoto from "../assets/media/250201 Robotics Tournament-0823-IMG_1301 (Vaast).jpg";
---

<Page title="Home">
	<div class="segment">
		<img id="teamPhoto" src={teamPhoto.src}>
		<p>
			<b>Nighthawks Robotics</b> is a high school robotics team from <b>North Trail High School</b> in <b>Calgary, Alberta</b> with three teams competing in the <i>FIRST Tech Challenge</i>.
		</p>
	</div>
</Page>
