---
import Page from "../layouts/Page.astro"
import TeamEPAGraph from "../components/TeamEPAGraph.astro"
---

<Page>
	<div class="segment">
		<h1>Statistics</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquam natus quidem? Ut sint, voluptates, pariatur delectus sequi velit assumenda architecto consectetur laborum nostrum nisi placeat distinctio doloremque reprehenderit est!
			Vero fugit esse iste molestiae cumque, rerum ratione doloribus aspernatur corrupti sequi perspiciatis omnis harum. Adipisci cum similique autem, vero ratione, asperiores sapiente incidunt provident obcaecati, tempore eos. Amet, tenetur.
			Velit, aliquam. In, id. Voluptatum labore ex, ipsa deserunt eligendi nemo reiciendis magni incidunt soluta recusandae saepe quae beatae, nam quo facilis. Aliquam modi, repellat possimus distinctio laborum fugit natus?
		</p>
		<TeamEPAGraph />
	</div>
</Page>