---
import "../styles/style.css"
import icon from "../assets/roboticslogo-icon.png"
---

<footer>
    <div class="footer-items">
      <div class="item group">
        <span class="footer-item">
          <p class="footer-item-title"><b>Our Teams</b></p>
          <div class="footer-item-content">
            <a href="https://ftc-events.firstinspires.org/team/24124"><p>24124</p></a>
            <a href="https://ftc-events.firstinspires.org/team/26145"><p>26145</p></a>
            <a href=""><p>00000</p></a>
          </div>
        </span>

        <span class="footer-item">
          <p><b>About</b></p>
          <div class="footer-item-content">
            <a href="https://www.firstinspires.org/robotics/ftc"><p>FIRST Robotics</p></a>
            <a href=""><p>Our Team</p></a>
          </div>
        </span>

        <span class="footer-item">
          <p><b>Sponsor Us</b></p>
          <a href="https://www.educationmatters.ca/project-matters/north-trail-high-school-nighthawks-robotics-steam-team-fundraising-campaign/"><p>Education Matters</p></a>
          <a href=""><p>Contact</p></a>
        </span>  
      </div>
      <img class="footer-logo" src={icon.src} width="160px">
    </div>
    <p class="footer-disclaimer">No official affiliation with <b>North Trail High School</b> or <b>FIRST Robotics.</b></p>
  </footer>