---
const { title } = Astro.props;
---

<head>
    <meta charset="utf-8" />

    <!-- Open Graph Tags -->
    <meta property="og:title" content=`Nighthawks Robotics - ${title}` />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://team24124.github.io" />
    <meta
        property="og:description"
        content="Home of Team 24124, Nighthawks Robotics! Competing in the FIRST Tech Challenge!"
    />
    <meta property="og:image" content="/og-image.png" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Nighthawks Robotics - {title}</title>
</head>

<!-- Google tag (gtag.js) for Analytics -->
<script
    is:inline
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-WWLYK1VVRL"></script>
<script is:inline type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    // Deny consent by default and only collect anonymous data to be GDPR compliant
    gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
    });

    gtag("config", "G-WWLYK1VVRL");
</script>
