---
export type EPASelectorState = {
    totalEPAEnabled: boolean,
    autoEPAEnabled: boolean,
    teleEPAEnabled: boolean
}

---

<div id="epaSelector">
    <form>
        <input type="checkbox" id="Total EPA" onchange="onSelectorUpdate()" checked> <label for="Total EPA"> Cumulative EPA </label>
        <input type="checkbox" id="Auto EPA" onchange="onSelectorUpdate()"> <label for="Auto EPA"> Auto EPA </label>
        <input type="checkbox" id="TeleOp EPA" onchange="onSelectorUpdate()"> <label for="TeleOp EPA"> TeleOP EPA </label>
    </form>

    <script is:inline>

        function onSelectorUpdate() {
            const totalEPA = document.getElementById("Total EPA")
            const autoEPA = document.getElementById("Auto EPA")
            const teleEPA = document.getElementById("TeleOp EPA")

            const state = { totalEPAEnabled: totalEPA.checked, autoEPAEnabled: autoEPA.checked, teleEPAEnabled: teleEPA.checked }
            const event = new CustomEvent('epaSelectionUpdate', { detail: state });
            window.dispatchEvent(event);
        }
    </script>
</div>