---
import "../../styles/graph.css";

---

<div class="segment colored">
    <h2>Team Data</h2>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        id, impedit accusamus sint laudantium laborum possimus molestias, eos
        recusandae quasi doloremque quis.
    </p>
    
    <div id="wrapper"></div>
    
</div>

<script>
  import { Grid } from "gridjs";
  import data from "../../data/World_team_data_LATEST.json";
  import { parseAllTeamData } from "../../scripts/TeamData";

  const element = document.getElementById("wrapper");
  const grid = new Grid({
    columns: ["Team Number", "Total EPA", "Auto EPA", "Tele EPA", "OPR", "Auto OPR", "Tele OPR", "End OPR"],
    pagination: true,
    sort: true,
    search: true,
    data: parseAllTeamData(data),
    })

  if(element != null) {
    grid.render(element);
  }
</script>
